// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";

// Custom
@import "custom";

h1{
    color: #213d3d;
    font-size: x-large;
    font-weight: bolder;
    text-align: left;
    vertical-align: bottom;
    padding-bottom: .5em;
}

.navbar{
    background-color: #213d3d;
}



#navbarMain{
    a {
        color: #a1afbf;
        font-weight: bold;
    }

    a:hover {
        color: #213d3d;
        font-weight: bold;
    }
}
.navbar-dropdown{
    background-color: #386565;
}

.card-header{
    background-color: #213d3d;
}




