// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";

// Custom
@import "custom";

h1{
    color: #213d3d;
    font-size: x-large;
    font-weight: bolder;
    text-align: left;
    vertical-align: bottom;
    padding-bottom: .5em;
}

.navbar{
    background-color: #213d3d;
}



#navbarMain{
    a {
        color: whitesmoke;
    }

    a:hover {
        color: #213d3d;
        font-weight: bold;
        background-color: whitesmoke;
    }
}
.navbar-dropdown{
    background-color: #386565;
}

.card-header{
    background-color: #213d3d;
}

.button.is-primary{
    background-color: #4e4a4a;
}

.button.is-secondary{
    background-color: #847b7b;
    border-style: none;
}

.navbar-item.has-dropdown:focus .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link{
    background-color: #386565;
}




